<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Robotics</title>

    <style type="text/css">
        .container {
            width: 1080px;
            margin: 50px auto;
        }

        form {
            width: 100%;
        }

        input {
            width: 100%;
        }

        table {
            width: 100%;
        }

        td {
            text-align: center;
        }

        .paint canvas {
            margin-right: 40px;
        }
        .paint p {
            max-width: 100%;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Your number is {{ myNum }}</h1>
    <div class="paint">
        <canvas id="canvas2" width="28" height="28" style="border: 5px solid #000000;">Update your browser to support
            HTML5
            Canvas
        </canvas>
        <canvas id="canvas" width="750" height="450" style="border: 5px solid #000000;">Update your browser to support
            HTML5
            Canvas
        </canvas>
        <form action="{% url 'calc_num_page' %}" method="get">
        <input type="text" name="pixs" id="output_text"
               value="" style="display: none;">
        <button onclick="btnSend()" type="submit">Send</button>
    </form>
    </div>
    <table ellspacing="2" border="1" cellpadding="5">
        <tr>
            {% for n in '0123456789' %}
                <th>{{ n }}</th>
            {% endfor %}
        </tr>
        {% for num in number %}
            <tr>
                {% for n in num %}
                    <td>{{ n }} %</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

</div>

<script type="text/javascript">
    var b = false;
    var canvas = document.getElementById('canvas');
    var context = canvas.getContext('2d');
    var radius = 10;
    {#canvas.width = window.innerWidth;#}
    {#canvas.height = window.innerHeight;#}

    canvas.width = 280;
    canvas.height = 280;
    var putPoint = function (e) {
        if (b) {
            context.beginPath();
            context.arc(e.offsetX, e.offsetY, 8, 0, 6.28);
            {#context.rect(e.offsetX, e.offsetY, radius, radius);#}
            context.fill();
            console.log(e.offsetX + ' ' + e.offsetY,);
        }
    };
    var mouseDown = function (e) {
        b = true;
        console.log(b);
    };

    var mouseUp = function (e) {
        b = false;
        console.log(b);
    };
    canvas.addEventListener('mousemove', putPoint);
    canvas.addEventListener('mouseup', mouseUp);
    canvas.addEventListener('mousedown', mouseDown);

    function btnSend() {
        var scale = 1 / 10;
        var t = document.getElementById('output_text');
        const smallContext = document.getElementById("canvas2").getContext("2d");
        smallContext.scale(scale, scale);
        smallContext.drawImage(canvas, 0, 0);
        t.value = smallContext.getImageData(0, 0, 280 * scale, 280 * scale).data;
    }
</script>

</body>

</html>